<template>
    <div>
        <div id="title"><strong>{{ stu_id }}</strong>님 안녕하세요!</div><br>
        <div id="sub_title">과목명을 클릭하면 <strong>익명</strong>으로 자신의 점수가 공개되며, 동시에 다른사람이 공개한 점수와 통계자료를 확인하실 수 있습니다!</div>
        <div><strong>강의 목록</strong></div>
        <ul>
            <li id="list" v-for="(stu, idx) in stu_info.course_name" :key="idx" v-on:click="open_score(idx)">{{idx + 1}} - {{stu}}</li>
        </ul>
        <div id="statistics" v-show="active">
           <strong>{{ stu_info.course_name[stat_idx] }}</strong>({{ stu_info.course_code[stat_idx] }})의 통계자료입니다. <br>
            <div id="stat_content">아래의 통계자료는 전수조사가 아닌 점수를 공개한 인원을 기반으로한 표본조사입니다. <br>
            담당교수 : {{ stu_info.prof_name[stat_idx]}} <br>
            현재까지 점수공개인원 : {{ opened_people_number }} <br>
            평균점수 : {{ }} <br>
            분산 : {{ }} <br>
            표준편차 : {{ }} <br></div> 
            <div>
            그래프그려주는곳
            </div>
        </div>
        
    </div>
</template>

<script>

export default {
    created() {
       this.stu_id = this.$route.params.id;
        this.$http.post('/api/login/showdata',{params:this.stu_id})
        .then((response)=> {
            for(let i=0; i<response.data.users.length; i++){
                this.stu_info.course_code.push(response.data.users[i].course_code); 
                this.stu_info.course_name.push(response.data.users[i].course_name);
                this.stu_info.prof_name.push(response.data.users[i].prof_name);
            }

        })
        
    },
    data : function() {
        return {
            stu_info: {
                course_code : [],
                course_name : [],
                prof_name : []
            },
            stu_id: '',
            active: false,
            stat_idx: 1, // default value
            score:[],
            opened_people_number : 1 //default vaule
        }
    },
    methods: {
        open_score(idx){
            this.active = true;
            this.stat_idx = idx;
            this.$http.post('/api/login/course_code',{params:this.stu_info.course_code[idx]})
            .then( (response) => {
                this.opened_people_number = response.data.users.length;
                for(let i=0; i< response.data.users.length; i++){
                    // this.score.push(response.data.users.course_score[i]);
                }
            })
        }
    }
}
</script>

<style scoped>
#list {
    background: white;
    font-size: 15px;
}
#sub_title {
    font-size: 12px;
    margin-bottom: 10px;
}
#statistics {
    margin: 10px; 
}
#stat_content {
    font-size: 12px;
    border: 1px solid rgb(215,189,31);
    border-radius: 5px;
    padding: 5px;
    background: white;
}
ul {
    list-style: none;
    margin: 0 auto;
    padding-left: 0;
}
li {
    border: 1px solid rgb(215,189,31);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
</style>
