<template>
    <div id="login">
        <img src="../assets/logo.png">
        <h2>단쿠키 점수공개 시스템</h2>
        <h1>DKU login</h1> 
        <input type="text" placeholder="ID(학번)" v-model="user.username" > <br>
        <input type="password" placeholder="PASSWORD" v-model="user.password"> <br>
        <button v-on:click="signUp">로그인</button> 
        <p>
            개인정보와 점수는 모두 <strong>익명</strong>으로 보여집니다.<br><br>
            점수공개를 한 학우들의 점수를 기반으로 여러 <br> <strong>통계자료</strong>를 제공합니다.<br><br>
            본 점수공개 시스템은 자신이 듣고 있는 수업외의 점수공개표 즉, 다른 수업의 점수공개표는 <br>조회하실 수 없습니다.
            
        </p>
 
    </div>
</template>
    
<script>
import { setTimeout } from 'timers';
export default {
    data: function(){
        return{
            user: {
            username: '',
            password: '' 
            }
        }
        
    },
    methods : {
        signUp: function(event){
                    
                    this.$http.post('/api/login/parseList', { 
                    user: this.user
                })
                .then((response) => {
                if (response.data.result === 1) {
                    alert('로그인성공!')
                    this.$http.post('/api/login/getlist',response.data.docs)
                        .then((response) => {
                            if(response.data.result === 1){
                                this.$router.push({name:"/login/openScore", params:{"id":this.user.username}});
                            }
                            
                            })
                   
                    }   
                })
               
                .catch(function (error) {
                alert('로그인에 실패하였습니다!')
                })
            

            }
        }
        

    
}

</script>

<style scoped>
#login {
    margin: 0 auto;
}
img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
input{
    border: 1px solid rgb(215,189,31);
    width: 180px;
    height: 25px;
    margin: 0 0 5px 0;
}
button{
    border: 1px solid rgb(215,189,31);
    padding: 5px;
}
p{
    font-size: 12px;
}
</style>
